@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>
    This application is intended to be used to track personal medications. You can set it up to send you reminders to:
    <ul>
        <li>take your daily medications </li>
        <li>refill your prescriptions</li>
        <li>even print off a list of meds to give to your doctor!</li>
    </ul>
    My goal is to make it a little easier to keep track of your daily medications. It's stressful enough to be taking daily medications, this 
    application aims to take a little of the worry off your mind.
</p>
