@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>
    Questions? Contact me for <a href="mailto:glynnisthomas@gmail.com">more information</a>.
</p>

<address>
    <strong>Support:</strong> <a href="mailto:glynnisthomas@gmail.com">Webmaster</a><br />
</address>
